<div class="grid-container" *ngIf="!isSmall">
  <!-- <mat-grid-list cols="2" rowHeight="350px"> -->
  <!-- <mat-grid-tile [colspan]="2" [rowspan]="2"> -->
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Suspended Items
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <uf-suspended-items
        *ngIf="suspendedItemResponse | async"
        [dataColumns]="columns"
        [suspendedItemResponse]="suspendedItemResponse | async"
        [canCreate]="canCreate | hasRole: 'isAccessPortalAdmin'"
        [canIgnore]="canIgnore | hasRole: 'isAccessPortalAdmin'"
        [canMatch]="true"
        (createEvent)="CreateFromSuspendedItem($event)"
        (ignoreEvent)="DeleteSuspendedItem($event)"
        (viewLogsEvent)="GetLogsForSuspendedItem($event)"
      ></uf-suspended-items>
    </mat-card-content>
  </mat-card>
  <!-- </mat-grid-tile> -->

  <!-- <mat-grid-tile [colspan]="2" [rowspan]="2"> -->

  <!-- </mat-grid-tile>
    </mat-grid-list> -->
</div>

<div *ngIf="isSmall">
  <uf-suspended-items-mobile
    *ngIf="suspendedItemResponse | async"
    [columns]="columns"
    [canCreate]="canCreate | hasRole: 'isAccessPortalAdmin'"
    [canIgnore]="canIgnore | hasRole: 'isAccessPortalAdmin'"
    [canMatch]="true"
    [suspendedItemResponse]="suspendedItemResponse | async"
    (createEvent)="CreateFromSuspendedItem($event)"
    (ignoreEvent)="DeleteSuspendedItem($event)"
    (viewLogsEvent)="GetLogsForSuspendedItem($event)"
  >
  </uf-suspended-items-mobile>
</div>
