.full-width-table {
  width: 100%;
  height: 90%;
  overflow: auto;
}
.table-container {
  max-height: 600px;
  overflow: auto;
}
.suspendeditem-grid-button {
  line-height: normal;
  margin: 0 5px;
}
.header-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.inner-detail-row {
  height: 0;
}

.inner-element-row:not(.inner-expanded-row):hover {
  background: #777;
}

.inner-element-row:not(.inner-expanded-row):active {
  background: #efefef;
}

.inner-element-row td {
  border-bottom-width: 0;
}

.inner-element-detail {
  overflow: hidden;
  display: flex;
}

.btnMatch {
  background-color: #66903c;
}

.table-inner {
  width: 100%;
  border: 1px solid grey;
}
