<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" multiTemplateDataRows>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button *ngIf="row.MatchedIds.length" [attr.aria-label]="'toggle '">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ itemWithMatches?.AccessPortalId === row.AccessPortalId ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
      <td mat-cell *matCellDef="let row">{{ row.FullName }}</td>
    </ng-container>
    <ng-container matColumnDef="ApplicationEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.ApplicationEmail }}</td>
    </ng-container>
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{ row.Phone }}</td>
    </ng-container>
    <ng-container matColumnDef="AccessPortalId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Portal ID</th>
      <td mat-cell *matCellDef="let row">{{ row.AccessPortalId }}</td>
    </ng-container>
    <ng-container matColumnDef="StudentUniqueId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
      <td mat-cell *matCellDef="let row">{{ row.StudentUniqueId }}</td>
    </ng-container>
    <ng-container matColumnDef="ParentUniqueId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent ID</th>
      <td mat-cell *matCellDef="let row">{{ row.ParentUniqueId }}</td>
    </ng-container>
    <ng-container matColumnDef="BirthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
      <td mat-cell *matCellDef="let row">{{ row.BirthDate }}</td>
    </ng-container>
    <ng-container matColumnDef="AddressLine1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AddressLine1</th>
      <td mat-cell *matCellDef="let row">{{ row.AddressLine1 }}</td>
    </ng-container>
    <ng-container matColumnDef="AddressCtry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let row">{{ row.AddressCtry }}</td>
    </ng-container>
    <ng-container matColumnDef="AddressCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let row">{{ row.AddressCity }}</td>
    </ng-container>
    <ng-container matColumnDef="AddressZip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip</th>
      <td mat-cell *matCellDef="let row">{{ row.AddressZip }}</td>
    </ng-container>
    <ng-container matColumnDef="AddressState">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row">{{ row.AddressState }}</td>
    </ng-container>
    <ng-container matColumnDef="Create" *ngIf="canCreate">
      <th mat-header-cell *matHeaderCellDef>
        Create
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button>
          <mat-icon>
            add
          </mat-icon>
          Create
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Delete" *ngIf="canDelete">
      <th mat-header-cell *matHeaderCellDef>
        Delete
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button>
          <mat-icon class="mat-icon-rtl-mirror">
            delete
          </mat-icon>
          Delete
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Ignore" *ngIf="canIgnore">
      <th mat-header-cell *matHeaderCellDef>
        Ignore
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button>
          <mat-icon class="mat-icon-rtl-mirror">
            snooze
          </mat-icon>
          Ignore
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="Logs">
      <th mat-header-cell *matHeaderCellDef>
        View Logs
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button>
          <mat-icon class="mat-icon-rtl-mirror">
            notes
          </mat-icon>
          Logs
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div
          class="inner-element-detail"
          [@detailExpand]="itemWithMatches?.AccessPortalId === row.AccessPortalId ? 'expanded' : 'collapsed'"
        >
          <div class="table-inner" *ngIf="itemWithMatches">
            <uf-suspended-items-matches [itemWithMatches]="itemWithMatches"></uf-suspended-items-matches>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.inner-element-row]="row.MatchedIds.length > 0"
      [class.inner-expanded-row]="itemWithMatches?.AccessPortalId === row.AccessPortalId"
      (click)="setItems(row)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="inner-detail-row"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]"
  >
  </mat-paginator>
</div>
