<table #msort="matSort" mat-table class="full-width-table" aria-label="Matches" matSort>
  <ng-container matColumnDef="item">
    <th class="header-title" mat-header-cell *matHeaderCellDef [attr.colspan]="dataColumns.length">
      Potential Matches
    </th>
  </ng-container>
  <ng-container *ngFor="let dcol of dataColumns" matColumnDef="{{ dcol }}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ dcol | columnHeader }}</th>
    <td mat-cell *matCellDef="let row">{{ row[dcol] }}</td>
  </ng-container>
  <ng-container matColumnDef="matchbutton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button class="btnMatch suspendeditem-grid-button">
        <mat-icon>compare_arrows</mat-icon> Match
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['item']"></tr>
  <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns"></tr>
</table>
